#firefox.profile.name = default

base.url=http://localhost:5000/
base.non_reversable_actions = false

user.nomember.username=newuser
user.nomember.password=password
user.nomember.org=UNAGO

user.editor.username=editor
user.editor.password=password
user.editor.org=ocha-colombia

user.editor.dataset.title = Selenium New Dataset

sysadmin.username=sysadmin
sysadmin.password=password

url.test = http://localhost:5000/dataset/new_resource/selenium-new-dataset1408978804027
url.file = /Users/test.xlsx